.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .menu-toggle-button {
    display: none;
  }

  div.divider {
    width: 100%;
  }
}

// TODO: Intentar utilizar variable para las media queries
@media (max-width: 500px) {
  .menu-toggle-button {
    display: inline-block;
  }
}
